.navbar{
  background-color: #0f0;
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  border: 1px solid;
  padding: 10px;
  background-color: rgb(23, 216, 23);
}

.titulo{
  font-size: 19px;
}
