.navbar{
  background-color: #0f0;
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  border: 1px solid;
  padding: 10px;
  background-color: rgb(23, 216, 23);
}

.dropdown-menu{
  background-color: #0f0;
}

.dropdown-item:hover{
  border: none;
  background-color: rgb(29, 192, 29);
  padding: 10px;
}